.parallax-container .parallax {
    z-index: unset;
}

.parallax-home-page {
    height: 350px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.head-main-title {
    font-weight: 300;
}

.underline, .underline-hover:hover {
    text-decoration: underline;
}

.mat-title {
    font-size: inherit;
}

.text-justify {
    text-align: justify;
}

.logo-main {
    margin-left: 20px;
}

.server-error-text {
    border-radius: 8px;
    border: 1px #b3b2b2 solid;
    width: fit-content;
    margin: auto;
    padding: 10px 30px;
    background-color: #f1f1f1;
}
