.parallax-container .parallax {
    z-index: unset;
}

.parallax-home-page {
    height: 350px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.head-main-title {
    font-weight: 300;
}

