.parallax-container .parallax {
    z-index: unset;
}

.parallax-home-page {
    height: 350px;
}

.parallax-search-page {
    height: 290px;
}

.parallax-contact-page {
    height: 310px;
    background: linear-gradient(#0099e8, #4d89de, #34abf0, #ffffff);
}

.clearb {
    clear: both;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.head-main-title {
    font-weight: 300;
}

.underline, .underline-hover:hover {
    text-decoration: underline;
}

.mat-title {
    font-size: inherit;
}

.text-justify {
    text-align: justify;
}

.logo-main img {
    height: 48px; 
    margin-top: 4px;
}

.logo-main .logo-text {
    vertical-align: top;
}

@media only screen and (min-width: 993px) {
    .logo-main {
        margin-left: 20px;
    }
    .logo-main img {
        margin-top: 8px;
    }
}

.checkbox-search {
    margin-bottom: -9px;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #2177d0;
    background-color: #2177d0;
}

.server-error-text {
    border-radius: 8px;
    border: 1px #689eff solid;
    max-width: fit-content;
    margin: auto;
    padding: 10px 30px;
    background-color: rgba(20, 97, 175, 0.61);
    color: white;
}

.card-border {
    border-radius: 10px;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #1a65b6;
}

.no-outline-focus:focus {
    outline: none;
}

a.no-link-color {
    color: inherit;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.input-field .prefix.active {
    color: #1a65b6;
}

input:not([type]):focus:not([readonly]), 
input[type=text]:not(.browser-default):focus:not([readonly]), 
input[type=password]:not(.browser-default):focus:not([readonly]), 
input[type=email]:not(.browser-default):focus:not([readonly]), 
input[type=url]:not(.browser-default):focus:not([readonly]), 
input[type=time]:not(.browser-default):focus:not([readonly]), 
input[type=date]:not(.browser-default):focus:not([readonly]), 
input[type=datetime]:not(.browser-default):focus:not([readonly]), 
input[type=datetime-local]:not(.browser-default):focus:not([readonly]), 
input[type=tel]:not(.browser-default):focus:not([readonly]), 
input[type=number]:not(.browser-default):focus:not([readonly]), 
input[type=search]:not(.browser-default):focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #1a65b6;
    -webkit-box-shadow: 0 1px 0 0 #1a65b6;
    box-shadow: 0 1px 0 0 #1a65b6;
}

.divider-margin {
    margin-top: 15px;
    margin-bottom: 15px;
}

.divider-header-margin {
    margin-top: 1.52rem;
}

/* POPUP download */
.popup-download {
    position: fixed;
    bottom: 0px;
    transform: translateY(100px);
    height: 100px;
    width: 80%;
    margin-left: 10%;
    transition: .5s ease;
    visibility: hidden;
}

.popup-download.open {
    transform: unset;
    visibility: visible;
}

.dl-count-popup {
    margin-top: 6px;
    margin-left: 15px;
}

.btn-perso:focus {
    background-color: unset;
}

.btn-perso:hover {
    background-color: rgba(0,0,0,0.1);
}

.margin-adv-search-left {
    margin-left: 40px;
}

.divider-white {
    background-color: white;
}

.pointer {
    cursor: pointer;
}

.break-word {
    word-wrap: break-word;
    white-space: pre-line;
}

.link-external-search, .sub {
    vertical-align: sub;
}

main.with-particle {
    background-image: linear-gradient(to top, rgb(59, 163, 248),rgb(49, 134, 245), rgb(27, 125, 232), rgb(0, 153, 232));
}

#particle-holder canvas {
    height: 70vh !important;
}

#particle-holder.full-page canvas {
    height: 100vh !important;
}

#particle-holder .container {
    display: block;
    user-select: none;
    pointer-events: none;
    position: absolute;
    margin: auto;
    width: 100%;
    max-width: unset;
}

#particle-holder a, #particle-holder pre {
    pointer-events: all;
}

#particle-holder pre {
    user-select: all;
    white-space: pre-line;
}

.lighter-text {
    font-weight: lighter;
}

.red-att-text {
    color: #ffb5b4;
}

.blue-att-text {
    color: #d2e4ff;
}

.tiny-text {
    font-size: 1rem;
}

.tiny-container {
    margin: 0 auto;
    width: 90%;
}

@media only screen and (min-width: 601px) {
    .tiny-container {
        width: 50%;
    }
}

@media only screen and (min-width: 993px) {
    .tiny-container {
        width: 30%;
    }
}

.sidenav li.active {
    background-color: #4070d6;
}

.sidenav li.active a {
    color: white;
}
.sidenav li.active > a > i.material-icons {
    color: rgba(255, 255, 255, 0.88);
}

.center-block {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.btn-personal {
    width: fit-content;
}

.btn-personal {
    letter-spacing: inherit !important;
    text-transform: inherit;
    font-size: 1.2rem;
}

.btn-personal {
    line-height: inherit;
    box-shadow: none;
    padding: 0.8em !important;
    cursor: pointer;
    height: auto !important;
}

.btn-personal {
    border-radius: 10px;
}

input:not([type]):focus:not([readonly])+label, 
input[type=text]:not(.browser-default):focus:not([readonly])+label, 
input[type=password]:not(.browser-default):focus:not([readonly])+label, 
input[type=number]:not(.browser-default):focus:not([readonly])+label, 
input[type=search]:not(.browser-default):focus:not([readonly])+label, 
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #346bd3;
}

.panel-settings {
    padding-top: 10px; 
    margin-top: 25px;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #346bd3;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #346bd3;
}

[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid #346bd3;
    border-bottom: 2px solid #346bd3;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #346bd3;
}

.progress .determinate {
    background-color: #1a4ba5;
}

.progress {
    background-color: #90ade2;
}

.collapsible-body {
    padding: 1.5rem;
}

.no-user-click {
    user-select: none;
    pointer-events: painted;
}

.valign-middle {
    vertical-align: middle;
}

i.material-icons {
    transition-duration: .3s;
}

.rotate {
    transform: rotate(180deg);
}

/* test d'animation */
@keyframes waiter {
    0%, 20% { transform: rotate(0); }
    40%, 60% { transform: rotate(180deg); }
    80%, 100% { transform: rotate(360deg); }
}

@keyframes waiter-simple {
    from { transform: rotate(0); }
    to { transform: rotate(180deg); }
}

@keyframes color-changer {
    0% { color: rgb(250, 53, 53); }
    20% { color:  rgb(58, 58, 209);}
    40% { color: rgb(1, 206, 221); }
    60% { color: rgb(5, 146, 0); }
    80% { color: rgb(243, 227, 0); }
    100% { color: rgb(250, 53, 53); }
}

.waiter-anim {
    animation: 
        waiter ease-in-out 8s infinite alternate,
        color-changer linear 10s infinite;
}

.sort-anim:hover {
    animation: waiter-simple ease-in-out .5s;
}

i.sort {
    margin: 0;
    font-size: 1.5rem;
    color: rgb(8, 132, 204);
}

div.sort {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.very-tiny-text {
    font-size: .75rem;
}

.no-line-height {
    line-height: 0%;
}

.collection-specie {
    cursor: move !important; /* fallback if grab cursor is unsupported */
    cursor: grab !important;
    cursor: -moz-grab !important;
    cursor: -webkit-grab !important;
}

.collection-specie:active {
    cursor: grabbing !important;
    cursor: -moz-grabbing !important;
    cursor: -webkit-grabbing !important;
}

.linkable-card {
    transition: .3s;
}

.linkable-card:hover {
    cursor: pointer;
    background-color: #ebeaf5 !important;
}

.row .col.no-pad {
    padding-left: 0;
    padding-right: 0;
}

.gene-id {
    word-break: break-word;
}

.light-text {
    font-weight: 200;
}

.gene-info {
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: initial;
}

.header-main, .border-head {
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
}

textarea.materialize-textarea{
    min-height: 5rem;
    resize: vertical;
}
